/* This is not currently used */
:export {
  contourBlack: rgb(40, 44, 52);
  contourWhite: rgb(171, 178, 191);
  contourWhite: rgb(171, 178, 191);
  contourRed: rgb(190, 80, 70);
  contourGreen: rgb(152, 195, 121);
  contourYellow: rgb(209, 154, 102);
  contourBlue: rgb(97, 175, 239);
  contourPurple: rgb(198, 120, 221);
  contourCyan: rgb(86, 182, 194);
  contourGrey: rgb(76, 82, 99);
  contourGreyLight: rgb(92, 99, 112);
  discordPurple: #7289da;
}
